@import "../extends.scss";


.header {
    width: 100%;
    height: 60px;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $colorBackground__dark;

    .text {        
        color: $color_inputBorder;
        font-size: 20px;
        font-weight: 800;
    }

    .input {
        width: 40vw;
        font-size: 20px;
        border: 2px solid $colorBackground_textForDark;
        border-radius: 10px;
        padding: 3px 10px;
    }

    .input:focus {
        outline: none;
        border: 3px solid $color_inputBorder;
    }
    .input::placeholder {
        color: $color_inputBorder;
        font-size: 15px;
        font-style: italic;
    }

    .select {
        font-size: 20px;
        cursor: pointer;
        background: $colorBackground__dark;
        color: $colorBackground_textForDark;
        outline: none;
        border: 2px solid $colorBackground_textForDark;
        border-radius: 10px;
        padding: 3px 10px;

    }
    .authButton{
        font-size: 20px;
        border: 2px solid $colorBackground_textForDark;
        border-radius: 10px;
        padding: 3px 10px;
    }
}