@import "../extends.scss";

.footer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: $colorBackground__dark;

    .text {        
        color: $colorBackground_textForDark;
  
    }

    .iconGit {
        display: flex;

        a {
            margin-left: 10px;
            display: flex;
            align-items: center;
    
            img {
                height: 30px;
                border-radius: 50%;
            }
    
            p {
                margin-left: 4px;
                color: $colorBackground_textForDark;

            }
        } 
    }

    img {
        height: 30px;
        filter: invert(100%)
    }
}