.countriesList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width    : 1200px;
  margin: 15px auto;
  height: calc(100% - 120px);
  min-height: 700px;
}
