%font-stack-NotoSans {
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
$colorBackground__dark: #392b3c;
$colorBackground_textForDark: wheat;
$colorBackground__light: rgb(231, 224, 209);
$colorBackground__lightest: rgba(231, 224, 209, 0.1);
$colorBackground_textForlight: #2c222e;