@import "../extends.scss";
.countryInfo_container{
  width: 80%;
  height: 300px;
  display: flex;
  .countryInfo_image{
    height: 260px;
    width: 260px;
    overflow: hidden;
    background-color: #fff;
    background-size: cover;
  }
  .countryInfo_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 260px);
    margin: 0 40px;
    h2,h3{
      margin-bottom: 10px;
    }
    .countryInfo_description{
      overflow: hidden;
      height: 80%;
    }
  }
}