@import "../extends.scss";
.countryInfo_container{
  width: 85%;
  display: flex;
  margin-bottom: 30px;
  .countryInfo_image{
    height: 290px;
    width: 290px;
    overflow: hidden;
    background-color: #fff;
    background-size: cover;
  }
  .countryInfo_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 260px);
    margin: 0 20px;
    h2,h3{
      margin-bottom: 10px;
    }
  }
}