
.countryPage_container{
    height: calc(100% - 120px);
    min-height: 850px;
    width: 1170px;
    margin: 0 auto;
    padding: 40px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1200px) {
    .countryPage_container{
        width: 970px;
    }
}

@media (max-width: 992px) {
    .countryPage_container{
        width: 750px;
    }
}

@media (max-width: 768px) {
    .countryPage_container{
        width: calc(100vw - 15px);
    }
}

@media (max-width: 666px) {}