
.countryPage_container{
    height: calc(100% - 120px);
    min-height: 850px;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}