@import "../extends.scss";


.countryWidget_container{
  height: 200px;
  width: 15%;
  background-color: $colorBackground__light;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}
.weather_icon{
  font-size: 30px;
}